body{
    text-align: center;
}
input{
    height: 22px;
}

button{
    background-color: gold;
    padding: 5px;
    margin-left: 10px;
}

.tasks ul li{
    font-size: 18px;
    list-style: none;

}    
.tasks ul li:hover{
    color: red;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
